{% extends "home_template.html" %}

{% block contentName %}
{% load static %}

<div id=spotFinderBox class="shadow">
  <form method="post">
    {% csrf_token %}

    <div>{{ form.category }}</div>
    <div>{{ form.situation }}</div>
    <div>{{ form.location }}</div>


    <button id=spotFinderButton class="brandColor brandFont whiteFont" type=submit>Find spots</button>
  </form>
</div>

{% if spot_finder %}
{% for spot in spot_finder %}

<div id=spotFinderResult class="shadow">
  {{ spot.name }}
  <span style="color: lightgrey;">({{ spot.category1 }})</span>
</div>

{% endfor %}
{% else %}
{{ query_result }}
{% endif %}

<!--
{{situation_result}}
{{postcode_result}}-->

{% endblock %}
