{% extends "home_template.html" %}

{% block contentName %}
{% load static %}

  <div style="margin: 5px auto; margin-top: 20px; text-align: center; font-size: 20px; font-weight: bold">{{ resultName }}</div>
  <div style = "border-radius: 10px; width: 100%; height: 200px; overflow-x: scroll; white-space: nowrap;">
  {% if imageResult %}
    {% for image in imageResult %}
    <div style="display: inline-block; margin: 5px auto; height: 200px; width: 250px; border-radius: 10px;background-image: url({{image.link}}); background-size: cover; background-position: 50% 30%"></div>
    {% endfor %}
  {% else %}
  No images
  {% endif %}
  </div>


  <div class=shadow style="margin: 10px auto; min-height: 90px; border-radius: 10px;width: 350px; padding: 6px; overflow: hidden;">
    Name: {{ resultName }} <br>
    Address: {{ resultAddress }}<br>
    City: {{ resultCity }} <br>
    Country: {{ resultCountry }} <br>
    Category 1: {{resultCategory1}}<br>
    Category 2: {{resultCategory2}}<br>
    Category 3: {{resultCategory3}}<br>
  </div>

  <a href="{% url 'testpage' %}"
  <div style="display: block; height: 30px; width: 100px; margin: 10px auto; border-radius: 10px; text-align: center;" class="shadow">Return</div></a>


  <br><br>
  Status: {{searchStatus }}
  <br><br>
  Explorer: {{jsonExplore}}
  <br><br>
  FullJSON
  {{ searchData }}


  <br><br>
  View details<br>
  {{ resultName }}
  {{ resultAddress }}
  <br><br>
  FULLJSON<br>
  {{ detailsData }}



{% endblock %}
